.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: auto;
  margin-top: -0.8rem;

  &--icon {
    width: 2.5rem;
  }
}

.logo-img {
  width: 100%;
  height: auto;
}
